@media screen and (max-width: 600px) {
    .login-from{
        width: 100%;
    }
  }
@media screen and (min-width: 600px) {
    .login-from{
        width: 40%;
    }
  }

  .google-btn{
    background-color: #32a350;
    color: white;
  }
  .google-btn:hover{
    color: #ffffff;
  }